.menu {
    width: 20%;
    height: 100vh;

    background-color: var(--primary);
}

.content {
    width: 80%;
    padding: 60px 100px;
}

.link {
    padding: 20px 40px;

    display: block;
    text-decoration: none;

    color: white;
}

.link:hover {
    cursor: pointer;
    color: var(--yellow);
}